a {
	color: #000;
	text-decoration: underline;
}
a:hover {
	color: #1879b7;
}

nav.main {
	text-align: right;
	font-size: 12px;
	width: 100%;
}

header {
	width: 100%;
	background-color: #1879b7;
	font-size: 16px;
	color: #FFF;
	padding: 2px 2px 0px 2px;
	margin: 25px 1px 0px 0px;
}

article {
	width: 50%;
	float: left;
	padding: 10px 5px 5px 10px;
}

section {
	font-size: 18px;
	padding-bottom: 50px;
}

#Home, #Introduction, #PoissonProblem, #CG-Algorithm, #Example, #PoissonSolver {
	position: relative;
}

nav.left {
	width: 200px;
	float: left;
	padding: 2px;
}

aside {
	float: left;
	font-size: 12px;
	margin-left: 25px;
}

footer {
	float: left;
	width: 100%;
	text-align: center;
	border-top: 1px solid #DDD;
}

ul {
	margin: 3px 5px 0px 0px;
	border: 0px;
	list-style-type: none;
	padding: 0px;
}
li {
	width: 100%;
	background-color: #DDD;
	padding: 0px;
	margin: 0px 5px 1px 0px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
li:hover {
	color: #1879b7;
}

.articleHeader {
	font-size: 16px;
	color: #1879b7;
	background-color: #FFF;
	font-weight: bolder;
	margin: 0px 0px 20px 0px;
}
