#maincontent {
	text-align: justify;
	font-size: 15px;
}

.list-group-item {
	font-size: 12px;
}

.form {
	height: 0px;
	visibility: hidden;
	line-height: 1.4em;
	font-size: 15px;
}

#calc {
	height: 0px;
	width: 0px;
	visibility: hidden;
}

#headline {
	font-size: 32px;
}

#wait {
	visibility: hidden;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0px;
	font-size: 100px;
	text-align: center;
	padding-top: 20%;
}

.blue {
	color: #fff;
	-webkit-animation: blue 1s infinite linear;
	-moz-animation: blue 1s infinite linear;
	-o-animation: blue 1s infinite linear;
	animation: blue 1s infinite linear;
}

@-moz-keyframes blue {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes blue {
	from {
    	-webkit-transform: rotate(0deg);
  	}
  	to {
    	-webkit-transform: rotate(360deg);
  	}
}

@keyframes blue {
  	from {
    	transform: rotate(0deg);
  	}
  	to {
    	transform: rotate(360deg);
  	}
}